In [2]:
import pandas as pd

In [5]:

with open('Assignment5.html', 'w') as site:
    site.write('<html>')
    
    site.write('<head>')
    site.write('<title> Assignment5 </title>')
    site.write('/<head>')
    
    site.write('<div>')
    site.write('<h1>The group members: </h1>');
    site.write('<p>Ali Beyaz 113200050</p>');
    site.write('<p>Erol YiÄŸitalp 116200025</p>');
    site.write('<p>Utku Emecan 114200015</p>');
    site.write('</div>')
    
    site.write('<table>')
    
    file = pd.read_csv("/content/customer-top100.csv") 
    html_table = file.to_html() 
    site.write(html_table)
   

    site.write('</tr>')
    site.write('</table>')
    site.write('</body>')
    site.write('</html>')